body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
}
#menu {
    color: rgb(253, 255, 254);
    display: inline-block;
    padding: 5px;
    margin-left: 50px;
    font-size: .5em;
}

ul {
    display: inline;
}

    ul > li {
        display: inline-block;
    }

        ul > li > a {
            /* font-size: 1.5em; */
            padding: 10px;
            text-decoration: none;
            color: #fff;
        }

#panel {
    display: none;
}

li:hover {
    border-bottom: 0.5px solid #fff;
    border-radius: 5px;
}

h1:hover {
    border-bottom: 0.5px solid #fff;
    border-radius: 5px;
}



/*.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}*/

.container {
    position: fixed;
    z-index: 1;
}



.btn {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border-radius: 10px;
}

#menu {
    font-size: 1.6em;
    font-weight: normal;
}



#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -99;
}

.buttons {
    position: fixed;
    padding: 530px 250px 100px 400px;
    bottom: 0;
    color: aliceblue;
}

.btn1 {
    color: aliceblue;
}

.btn2 {
    color: aliceblue;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .buttons {
        font-size: 20px;
        position: fixed;
        padding: 100px 0px 100px 220px;
        bottom: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .buttons {
        font-size: 20px;
        position: fixed;
        padding: 0px 0px 100px 200px;
        bottom: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .buttons {
        font-size: 25px;
        position: fixed;
        padding: 0px 0px 100px 250px;
        bottom: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .buttons {
        font-size: 35px;
        position: fixed;
        padding: 0px 0px 100px 280px;
        bottom: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .buttons {
        font-size: 35px;
        position: fixed;
        padding: 100px 30px 100px 385px;
        bottom: 0;
    }
}
