/*for maneu bar*/
 #panel {
    display: block;
}
.container {
    position: fixed;
    z-index: 99;
}
#menu {
    font-size: 1.2em;
    font-weight: normal;
    width: 60px;
    margin: 20px;
}
ul {
    display: inline;
    margin-left: 50px;
}

ul > li {
    display: inline-block;
  
}
#panel ul > li {
    display: inline-block;
  
}
ul > li > a {
    /* font-size: 1.5em; */
    padding: 10px;
    text-decoration: none;
    color: #fff;
       
}

#panel ul > li > a {
    /* font-size: 1.5em; */
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
panel li:hover {
    border-bottom: 0.5px solid #fff;
    border-radius: 5px;
}

#menu:hover {
    border-bottom: 0.5px solid #fff;
    border-radius: 5px;
}

